/* Icons from directory "" */
.icon-Logo-hodu,
.icon-Logo-hodu\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22124%22%20height%3D%2238%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M94.556%2027.005zM95.551%2022.821zM95.686%2019.815c0-.307-.025-.613-.048-.92.025.299.04.604.048.92zM95.69%2020.901v-.788c.01.262.008.524%200%20.788z%22%20fill%3D%22%2321BF48%22%2F%3E%3Cpath%20d%3D%22M124%208.341v14.955c0%207.633-7.031%2014.08-15.355%2014.08-5.549%200-10.523-2.882-13.21-7.071%201.867-3.444%202.698-7.555%202.348-11.738-.353-4.232-1.892-8.168-4.363-11.209a5.422%205.422%200%20011.89-3.187%205.537%205.537%200%20017.4.334%205.396%205.396%200%20011.61%203.836v14.955c0%201.491%201.888%203.224%204.323%203.224%202.201%200%204.359-1.597%204.359-3.224V8.34a5.388%205.388%200%20011.617-3.842%205.498%205.498%200%20011.786-1.176%205.538%205.538%200%20015.987%201.184A5.398%205.398%200%2001124%208.34zM28.548%2011.125a19.564%2019.564%200%2000-2.179%209.02%2019.703%2019.703%200%20003.537%2011.278v.304a5.402%205.402%200%2001-1.612%203.837%205.537%205.537%200%2001-7.77%200%205.402%205.402%200%2001-1.61-3.837v-6.154h-7.918v6.154a5.4%205.4%200%2001-1.61%203.837%205.536%205.536%200%2001-7.77%200%205.402%205.402%200%2001-1.611-3.837V8.56a5.401%205.401%200%20011.612-3.836%205.537%205.537%200%20017.767%200%205.4%205.4%200%20011.612%203.836v6.154h7.917V8.561a5.401%205.401%200%20011.612-3.836%205.537%205.537%200%20017.769%200%205.402%205.402%200%20011.612%203.836v.309a19.812%2019.812%200%2000-1.358%202.255z%22%20fill%3D%22%2321BF48%22%2F%3E%3Cpath%20d%3D%22M77.426%2013.942h-.74.924-.184zm8.787%2022.087zm7.992-8.139zm1.207-4.118zm.225-4.885zm.056%201.226v.788a22.54%2022.54%200%20000-.788z%22%20fill%3D%22%2321BF48%22%2F%3E%3Cpath%20d%3D%22M95.694%2020.113a19.263%2019.263%200%2000-2.383-9.09%2016.95%2016.95%200%2000-1.328-2.01c-.2-.258-.404-.51-.62-.754a14.876%2014.876%200%2000-3.329-2.837c-.367-.23-.745-.442-1.134-.635-.345-.178-.701-.335-1.06-.483a16.164%2016.164%200%2000-5.285-1.14c-1.998-.031-4.173-.013-6.221-.049-2.256.018-4.547-.096-6.782.193-2.574.619-4.325%203.101-4.131%205.71%204.594%206.459%204.503%2015.927%200%2022.263a5.728%205.728%200%2000.542%202.801%205.456%205.456%200%20002.028%202.242c.876.545%201.89.834%202.925.834h4.385c5.932%200%208.851.063%2010.389-.28a15.103%2015.103%200%20008.207-5.128c.164-.203.296-.375.44-.566%202.34-3.181%203.413-7.164%203.357-11.071zm-10.879.594c-.108%201.163-.361%202.346-1.004%203.338a4.352%204.352%200%2001-.723.862%204.894%204.894%200%2001-1.88%201.028c-2.219.639-4.506.357-6.8.37v-12.31c.76%200%201.526-.031%202.285-.042%202.916-.075%206.495.084%207.62%203.278.41%201.112.58%202.295.502%203.476zM56.75.517zM36.223.96z%22%20fill%3D%22%2321BF48%22%2F%3E%3Cpath%20d%3D%22M63.413%2013.57a17.967%2017.967%200%2000-5.873-7.636c.015-.096-.495-4.62-.497-4.717a1.349%201.349%200%2000-.447-.863%201.38%201.38%200%2000-.916-.347c-.631-.162-3.904%202.603-4.443%202.874a18.403%2018.403%200%2000-9.256%200c-.564-.287-3.794-3.022-4.442-2.874-.339%200-.665.124-.917.347-.252.223-.412.53-.45.863%200%20.1-.503%204.616-.496%204.716-13.61%2010.104-6.364%2032.064%2010.937%2032.064%2012.58.244%2021.59-13.202%2016.8-24.428zm-16.8%2013.56c-9.286-.162-9.315-13.785-.036-13.989%209.323.13%209.357%2013.83.036%2013.998v-.009z%22%20fill%3D%22%2321BF48%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-Logo-hodu-dims {
  width: 124px;
  height: 38px;
}
.icon-check-box,
.icon-check-box\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%23C4C4C4%22%20d%3D%22M.5.5h15v15H.5z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-check-box-dims {
  width: 16px;
  height: 16px;
}
.icon-check-fill-box,
.icon-check-fill-box\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%2321BF48%22%20d%3D%22M.5.5h15v15H.5z%22%2F%3E%3Cpath%20d%3D%22M3%207l4%204%206-7%22%20stroke%3D%22%2321BF48%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-check-fill-box-dims {
  width: 16px;
  height: 16px;
}
.icon-icon-check-off,
.icon-icon-check-off\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2228%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2214%22%20cy%3D%2214%22%20r%3D%2214%22%20fill%3D%22%23F2F2F2%22%2F%3E%3Cpath%20d%3D%22M7%2013.857L12.6%2019l8.4-9%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-check-off-dims {
  width: 28px;
  height: 28px;
}
.icon-icon-check-on,
.icon-icon-check-on\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2228%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2214%22%20cy%3D%2214%22%20r%3D%2214%22%20fill%3D%22%2321BF48%22%2F%3E%3Cpath%20d%3D%22M7%2013.857L12.6%2019l8.4-9%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-check-on-dims {
  width: 28px;
  height: 28px;
}
.icon-icon-check,
.icon-icon-check\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2210%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1%204l4%204%206-7%22%20stroke%3D%22%2321BF48%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-check-dims {
  width: 12px;
  height: 10px;
}
.icon-icon-delete,
.icon-icon-delete\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4.143%2018.284L18.285%204.142M18.143%2018.142L4%204%22%20stroke%3D%22%23C4C4C4%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-delete-dims {
  width: 22px;
  height: 22px;
}
.icon-icon-down-arrow,
.icon-icon-down-arrow\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M17.416%208.25L11%2013.658%204.583%208.25%22%20stroke%3D%22%23767676%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-down-arrow-dims {
  width: 22px;
  height: 22px;
}
.icon-icon-fb,
.icon-icon-fb\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%20fill%3D%22%23767676%22%2F%3E%3Cpath%20fill%3D%22%23767676%22%20d%3D%22M5%206h20v20H5z%22%2F%3E%3Cpath%20d%3D%22M20%207.667h-2.5a4.167%204.167%200%2000-4.167%204.166v2.5h-2.5v3.334h2.5v6.666h3.333v-6.666h2.5L20%2014.333h-3.334v-2.5A.833.833%200%200117.5%2011H20V7.667z%22%20fill%3D%22%23F2F2F2%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-fb-dims {
  width: 32px;
  height: 32px;
}
.icon-icon-insta,
.icon-icon-insta\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2215.5%22%20fill%3D%22%23767676%22%20stroke%3D%22%23767676%22%2F%3E%3Cpath%20d%3D%22M20.167%207.667h-8.333a4.167%204.167%200%2000-4.167%204.166v8.334a4.167%204.167%200%20004.167%204.166h8.333a4.167%204.167%200%20004.167-4.166v-8.334a4.167%204.167%200%2000-4.167-4.166z%22%20stroke%3D%22%23F2F2F2%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M19.334%2015.475a3.333%203.333%200%2011-6.594.978%203.333%203.333%200%20016.594-.978zM20.583%2011.417h.008%22%20stroke%3D%22%23F2F2F2%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-insta-dims {
  width: 32px;
  height: 32px;
}
.icon-icon-minus-line,
.icon-icon-minus-line\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M0%2010h20%22%20stroke%3D%22%23C4C4C4%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-minus-line-dims {
  width: 20px;
  height: 20px;
}
.icon-icon-plus-line,
.icon-icon-plus-line\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M0%209.5h20M10%2020V0%22%20stroke%3D%22%23C4C4C4%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-plus-line-dims {
  width: 20px;
  height: 20px;
}
.icon-icon-plus,
.icon-icon-plus\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2214%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20d%3D%22M7.666%2015.583h16.667M16%2024.333V7.667%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-plus-dims {
  width: 32px;
  height: 32px;
}
.icon-icon-rhigt-arrow,
.icon-icon-rhigt-arrow\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M7.592%205.167L13%2011.583%207.592%2018%22%20stroke%3D%22%23767676%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-rhigt-arrow-dims {
  width: 22px;
  height: 22px;
}
.icon-icon-shopping-bag,
.icon-icon-shopping-bag\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M8%202.667L4%208v18.667a2.667%202.667%200%20002.667%202.666h18.666A2.667%202.667%200%200028%2026.667V8l-4-5.333H8zM4%208h24M21.334%2013.333a5.333%205.333%200%2011-10.667%200%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-shopping-bag-dims {
  width: 32px;
  height: 32px;
}
.icon-icon-shopping-cart-2,
.icon-icon-shopping-cart-2\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M12.889%2028.444a1.333%201.333%200%20100-2.666%201.333%201.333%200%20000%202.666zM25.333%2028.444a1.333%201.333%200%20100-2.666%201.333%201.333%200%20000%202.666z%22%20fill%3D%22%2321BF48%22%20stroke%3D%22%2321BF48%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M2.667%202.667h4.848l3.249%2015.869c.11.546.414%201.036.858%201.384a2.46%202.46%200%20001.566.524H24.97a2.459%202.459%200%20001.567-.523c.443-.35.746-.84.857-1.385l1.94-9.944H8.728%22%20stroke%3D%22%2321BF48%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-shopping-cart-2-dims {
  width: 32px;
  height: 32px;
}
.icon-icon-shopping-cart,
.icon-icon-shopping-cart\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M12.889%2028.444a1.333%201.333%200%20100-2.666%201.333%201.333%200%20000%202.666zM25.333%2028.444a1.333%201.333%200%20100-2.666%201.333%201.333%200%20000%202.666z%22%20fill%3D%22%23000%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M2.667%202.667h4.848l3.249%2015.869c.11.546.414%201.036.858%201.384a2.46%202.46%200%20001.566.524H24.97a2.459%202.459%200%20001.567-.523c.443-.35.746-.84.857-1.385l1.94-9.944H8.728%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-shopping-cart-dims {
  width: 32px;
  height: 32px;
}
.icon-icon-swiper-1,
.icon-icon-swiper-1\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%22124%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M34%2070l-8-8%208-8%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-swiper-1-dims {
  width: 60px;
  height: 124px;
}
.icon-icon-swiper-2,
.icon-icon-swiper-2\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%22124%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M26%2054l8%208-8%208%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-swiper-2-dims {
  width: 60px;
  height: 124px;
}
.icon-icon-up-arrow,
.icon-icon-up-arrow\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4.584%2013.658L11%208.25l6.417%205.408%22%20stroke%3D%22%23767676%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-up-arrow-dims {
  width: 22px;
  height: 22px;
}
.icon-icon-user-2,
.icon-icon-user-2\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M26.666%2028v-2.667A5.333%205.333%200%200021.333%2020H10.666a5.333%205.333%200%2000-5.333%205.333V28M16%2014.667A5.333%205.333%200%201016%204a5.333%205.333%200%20000%2010.667z%22%20stroke%3D%22%2321BF48%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-user-2-dims {
  width: 32px;
  height: 32px;
}
.icon-icon-user,
.icon-icon-user\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M26.666%2028v-2.667A5.333%205.333%200%200021.333%2020H10.666a5.333%205.333%200%2000-5.333%205.333V28M16%2014.667A5.333%205.333%200%201016%204a5.333%205.333%200%20000%2010.667z%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-user-dims {
  width: 32px;
  height: 32px;
}
.icon-icon-yt,
.icon-icon-yt\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%20fill%3D%22%23767676%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M24.199%2010.3c.284.292.485.654.584%201.05.265%201.466.393%202.952.384%204.442a24.164%2024.164%200%2001-.384%204.375%202.317%202.317%200%2001-1.616%201.666c-1.434.384-7.167.384-7.167.384s-5.733%200-7.167-.384a2.317%202.317%200%2001-1.616-1.6%2024.167%2024.167%200%2001-.384-4.441%2024.166%2024.166%200%2001.384-4.409%202.316%202.316%200%20011.616-1.666C10.267%209.333%2016%209.333%2016%209.333s5.733%200%207.167.35c.392.111.748.324%201.032.616zm-5.282%205.492l-4.792%202.725v-5.45l4.792%202.725z%22%20fill%3D%22%23F2F2F2%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-icon-yt-dims {
  width: 32px;
  height: 32px;
}
.icon-search,
.icon-search\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2228%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M12.833%2022.167a9.333%209.333%200%20100-18.667%209.333%209.333%200%20000%2018.667zM24.5%2024.5l-5.075-5.075%22%20stroke%3D%22%2321BF48%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-search-dims {
  width: 28px;
  height: 28px;
}

.icon-menu,
.icon-menu\:regular {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2296%22%20height%3D%2296%22%20fill%3D%22%2321BF48%22%3E%3Cswitch%3E%3Cg%3E%3Cpath%20d%3D%22M12%2028h72a4%204%200%20000-8H12a4%204%200%20000%208zm72%2016H12a4%204%200%20000%208h72a4%204%200%20000-8zm0%2024H12a4%204%200%20000%208h72a4%204%200%20000-8z%22%2F%3E%3C%2Fg%3E%3C%2Fswitch%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
.icon-menu-dims {
  width: 96px;
  height: 96px;
}
